[DEFAULT]

user = ubuntu

image = f3d62d5b-a76b-4997-a579-ff946a606132

flavor = 3

gateway_flavor = 1

key_name = shared

security_groups = default, ssh

src_dir = ../bin/

dst_dir = /home/ubuntu/

userdata = userdata.sh.template

timeout = 999999

poll_interval = 5

pool = research

log_dir=/etc/inception/

log_file=inception.log
