[DEFAULT]

user = ubuntu

image = u1204-130621-gv

flavor = m1.medium

gateway_flavor = m1.tiny

key_name = shared

security_groups = default, ssh

src_dir = ../bin/

dst_dir = /home/ubuntu/

userdata = userdata.sh.template

timeout = 999999

poll_interval = 5

pool = research

log_dir=/var/log/inception/

log_file=inception.log
